# Secrets
.env
secret.key
venv/
__pycache__/
*.py[cod]
*.bak*
*.sh

# Data & Static
instance/
static/uploads/*
!static/uploads/.htaccess
!static/uploads/legal/
!static/uploads/changelogs/

# OS & Logs
*.log
.DS_Store
