.env
secret.key
virtualenv/
__pycache__/
*.py[cod]
maintenance.lock
db_fix.py
*.log
.DS_Store
instance/uploads/*
static/uploads/*
!static/uploads/.htaccess
!static/uploads/legal/
!static/uploads/changelogs/
!static/github_promo.png
