        <div class="composer-dock bg-gray-800 border-t border-gray-700 px-3 pt-2 pb-2.5 shrink-0 z-10">
            <div class="composer-shell max-w-3xl mx-auto space-y-1.5 relative">
                {% include 'chat/composer_context_bars.html' %}
                {% include 'chat/composer_controls.html' %}
                {% include 'chat/composer_attachments.html' %}
                {% include 'chat/composer_gen_image.html' %}
                {% include 'chat/composer_gen_media.html' %}
                {% include 'chat/composer_panels.html' %}
                {% include 'chat/composer_input.html' %}
                {% include 'chat/composer_popups.html' %}
        </div>
    </div>
    
